body {
		font-family: sans-serif;
}

div {
		margin: 2px;
}

#action_btn {
		font-size: 1.2em;
		border: 0px;
		border-radius: 4px;
		width: 100%;
		background-color: lightskyblue;
}

.btn {
		font-size: 1.4em;
		border: 0px;
		background-color: transparent;
}

#note_sec {
		font-size: 0.8em;
}
