body {
	font-family: sans-serif;
}

div {
	margin: 2px;
}

.action_btn {
	font-size: 1.2em;
	border: 0px;
	border-radius: 4px;
	width: 100%;
	background-color: lightskyblue;
}

.btn {
	border: 0px;
	background-color: transparent;
}

.pattern_sec {
	border: 1px solid #eee;
	margin: 4px;
}

#note_sec {
	border-top: 1px solid #eee;
	font-size: 0.8em;
}

#pattern_btn {
	color: black;
}

.input_row {
	padding-top: 2px;
	padding-bottom: 2px;
}

#name_btn {
	width: 100%;
}
